 body {
    background-color: white;
    width: 1000px;
    align-content: center;
    margin: auto;
 }

h1{
  font-family: 'Faster One', cursive;
  font-size: 52px;
  text-align: center;
  background-color: #b9cceb;
}

h2 {
  text-align: center;
}

p {
  margin: auto;
  width: 500px;
}

ul {
  text-align: center;
}

li {
  list-style-type: none;
}

#imageDiv {
  text-align: center;
}

img{
  width: 25%;
  border-radius: 8px;
  border: slategrtay solid 1px;
}